# Dependency directories
node_modules/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for testing
coverage

# Local environment variables
.env

# IDE files
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
